body {
    text-align: center;
}

em {
    font-weight: bold;
    font-style: normal;
}

/* --- */

.selected {
    background-color: rgba(0, 0, 255, 0.3);
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 255, 0.4);
}

.buttonList {
    margin: 10px;
    padding: 0;
}

.buttonList > li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    font-size: 1.2em;
}

.hidden {
    display: none !important;
}

.sideBySide {
    display: inline-block;
    width: 40vw;
}

.filtered {
    background-color: rgba(255, 0, 0, 0.1);
}

/* --- */

#Help {
    margin: 10px;
}

#Help p {
    margin: 0;
}

#Message {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(240, 240, 240);
    padding: 5px 10px;
    color: darkred;
    font-weight: bold;
}

/* --- Data Table --- */

#DataTableContainer {
    overflow-x: scroll;
}

#DataTable {
    margin: 10px;
}

th {
    background-color: rgba(0, 0, 255, 0.1);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 255, 0.05);
}