<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Employee Attrition</title>
        <link rel="stylesheet" href="/static/style.css" />

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
    </head>
    <body>
        <div id="Root"></div>
        {% csrf_token %}

        {% if debug %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.development.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.development.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

            <script src="/static/bundle.js"></script>

        {% else %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.production.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

            <script src="/static/bundle.min.js"></script>
        {% endif %}
    </body>
</html>